{% extends 'base.html.twig' %}

{% block title %}Registro de Usuario{% endblock %}

{% block body %}
    {{ include('comunes/_header.html.twig') }}
    <div class="container mt-5 pt-5 mb-5 pb-5" style="overflow-y: auto;">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 bg-light p-5 rounded shadow mt-5"> <!-- Añadí un margen superior al encabezado -->
                <h2 class="text-center mb-5">Registrarse</h2>
                {{ form_start(registration_form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="mb-4">
                    {{ form_row(registration_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Correo electrónico'}}) }}
                    {{ form_errors(registration_form.email) }}
                </div>

                <div class="mb-4">
                    {{ form_row(registration_form.password, {'attr': {'class': 'form-control', 'placeholder': 'Contraseña'}}) }}
                    {{ form_errors(registration_form.password) }}
                </div>

                <div class="mb-4">
                    {{ form_row(registration_form.photo, {'attr': {'class': 'form-control', 'placeholder': 'Subir foto'}}) }}
                    {{ form_errors(registration_form.photo) }}
                </div>

                <div class="mb-4">
                    {{ form_row(registration_form.Nombre, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
                    {{ form_errors(registration_form.Nombre) }}
                </div>

                <div class="mb-4">
                    {{ form_row(registration_form.Apellidos, {'attr': {'class': 'form-control', 'placeholder': 'Apellidos'}}) }}
                    {{ form_errors(registration_form.Apellidos) }}
                </div>

                <div class="text-center">
                    {{ form_widget(registration_form.Submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>

                {{ form_end(registration_form) }}
                <p class="mt-4 text-center">¿Ya tienes cuenta? <a href="#" class="text-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
{% endblock %}
